<h2>Login</h2>
<div class="col-4">
    <div ng-if="vm.message" class="alert alert-success" role="alert">
        <p>{{vm.message}}</p>
    </div>

    <div ng-if="vm.err" class="alert alert-danger" role="alert">
        <p>{{vm.err}}</p>
    </div>

    <form ng-hide="" name="vm.formLogin" ng-submit="vm.formLogin.$valid && vm.login()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="vm.username"
                autocapitalize="none" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.password"
                autocapitalize="off" />
        </div>
        <button type="submit" class="btn-success">Login</button>
    </form>

</div>