<div *ngIf="!isLoggedIn()">
<h1>Register</h1>
<div *ngIf="message" class="alert alert-success" role="alert">
    <p>{{message}}</p>
</div>

<div *ngIf="err" class="alert alert-danger" role="alert">
    <p>{{err}}</p>
</div>

<form  [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
            placeholder="Name" formControlName="name" autocapitalize="on"/>
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username"
            placeholder="Username" formControlName="username" autocapitalize="none"/>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
            placeholder="Password" formControlName="password" autocapitalize="off"/>
    </div>

    <div class="form-group">
        <label for="password-repeat">Repeat Password</label>
        <input type="password" class="form-control" id="password-repeat"
            placeholder="Password" formControlName="passwordRepeat" autocapitalize="off"/>
    </div>


    <button type="submit" class="btn-success">Register</button>
</form>
</div>
